<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.ss01</key>
	<string>A_.ss01.glif</string>
	<key>A.ss02</key>
	<string>A_.ss02.glif</string>
	<key>A.ss03</key>
	<string>A_.ss03.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.alt</key>
	<string>B_.alt.glif</string>
	<key>B.alt.ss01</key>
	<string>B_.alt.ss01.glif</string>
	<key>B.alt.ss02</key>
	<string>B_.alt.ss02.glif</string>
	<key>B.alt.ss03</key>
	<string>B_.alt.ss03.glif</string>
	<key>B.ss01</key>
	<string>B_.ss01.glif</string>
	<key>B.ss02</key>
	<string>B_.ss02.glif</string>
	<key>B.ss03</key>
	<string>B_.ss03.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.ss01</key>
	<string>C_.ss01.glif</string>
	<key>C.ss02</key>
	<string>C_.ss02.glif</string>
	<key>C.ss03</key>
	<string>C_.ss03.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.ss01</key>
	<string>D_.ss01.glif</string>
	<key>D.ss02</key>
	<string>D_.ss02.glif</string>
	<key>D.ss03</key>
	<string>D_.ss03.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.ss01</key>
	<string>E_.ss01.glif</string>
	<key>E.ss02</key>
	<string>E_.ss02.glif</string>
	<key>E.ss03</key>
	<string>E_.ss03.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>Euro.ss01</key>
	<string>E_uro.ss01.glif</string>
	<key>Euro.ss02</key>
	<string>E_uro.ss02.glif</string>
	<key>Euro.ss03</key>
	<string>E_uro.ss03.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.ss01</key>
	<string>F_.ss01.glif</string>
	<key>F.ss02</key>
	<string>F_.ss02.glif</string>
	<key>F.ss03</key>
	<string>F_.ss03.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.ss01</key>
	<string>G_.ss01.glif</string>
	<key>G.ss02</key>
	<string>G_.ss02.glif</string>
	<key>G.ss03</key>
	<string>G_.ss03.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.ss01</key>
	<string>H_.ss01.glif</string>
	<key>H.ss02</key>
	<string>H_.ss02.glif</string>
	<key>H.ss03</key>
	<string>H_.ss03.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.ss01</key>
	<string>I_.ss01.glif</string>
	<key>I.ss02</key>
	<string>I_.ss02.glif</string>
	<key>I.ss03</key>
	<string>I_.ss03.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.ss01</key>
	<string>J_.ss01.glif</string>
	<key>J.ss02</key>
	<string>J_.ss02.glif</string>
	<key>J.ss03</key>
	<string>J_.ss03.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.alt</key>
	<string>K_.alt.glif</string>
	<key>K.alt.ss01</key>
	<string>K_.alt.ss01.glif</string>
	<key>K.alt.ss02</key>
	<string>K_.alt.ss02.glif</string>
	<key>K.alt.ss03</key>
	<string>K_.alt.ss03.glif</string>
	<key>K.ss01</key>
	<string>K_.ss01.glif</string>
	<key>K.ss02</key>
	<string>K_.ss02.glif</string>
	<key>K.ss03</key>
	<string>K_.ss03.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.ss01</key>
	<string>L_.ss01.glif</string>
	<key>L.ss02</key>
	<string>L_.ss02.glif</string>
	<key>L.ss03</key>
	<string>L_.ss03.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.alt</key>
	<string>M_.alt.glif</string>
	<key>M.alt.ss01</key>
	<string>M_.alt.ss01.glif</string>
	<key>M.alt.ss02</key>
	<string>M_.alt.ss02.glif</string>
	<key>M.alt.ss03</key>
	<string>M_.alt.ss03.glif</string>
	<key>M.ss01</key>
	<string>M_.ss01.glif</string>
	<key>M.ss02</key>
	<string>M_.ss02.glif</string>
	<key>M.ss03</key>
	<string>M_.ss03.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.ss01</key>
	<string>N_.ss01.glif</string>
	<key>N.ss02</key>
	<string>N_.ss02.glif</string>
	<key>N.ss03</key>
	<string>N_.ss03.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.ss01</key>
	<string>O_.ss01.glif</string>
	<key>O.ss02</key>
	<string>O_.ss02.glif</string>
	<key>O.ss03</key>
	<string>O_.ss03.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.ss01</key>
	<string>P_.ss01.glif</string>
	<key>P.ss02</key>
	<string>P_.ss02.glif</string>
	<key>P.ss03</key>
	<string>P_.ss03.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.alt</key>
	<string>Q_.alt.glif</string>
	<key>Q.alt.ss01</key>
	<string>Q_.alt.ss01.glif</string>
	<key>Q.alt.ss02</key>
	<string>Q_.alt.ss02.glif</string>
	<key>Q.alt.ss03</key>
	<string>Q_.alt.ss03.glif</string>
	<key>Q.alt1</key>
	<string>Q_.alt1.glif</string>
	<key>Q.alt1.ss01</key>
	<string>Q_.alt1.ss01.glif</string>
	<key>Q.alt1.ss02</key>
	<string>Q_.alt1.ss02.glif</string>
	<key>Q.alt1.ss03</key>
	<string>Q_.alt1.ss03.glif</string>
	<key>Q.ss01</key>
	<string>Q_.ss01.glif</string>
	<key>Q.ss02</key>
	<string>Q_.ss02.glif</string>
	<key>Q.ss03</key>
	<string>Q_.ss03.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.alt</key>
	<string>R_.alt.glif</string>
	<key>R.alt.ss01</key>
	<string>R_.alt.ss01.glif</string>
	<key>R.alt.ss02</key>
	<string>R_.alt.ss02.glif</string>
	<key>R.alt.ss03</key>
	<string>R_.alt.ss03.glif</string>
	<key>R.ss01</key>
	<string>R_.ss01.glif</string>
	<key>R.ss02</key>
	<string>R_.ss02.glif</string>
	<key>R.ss03</key>
	<string>R_.ss03.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.ss01</key>
	<string>S_.ss01.glif</string>
	<key>S.ss02</key>
	<string>S_.ss02.glif</string>
	<key>S.ss03</key>
	<string>S_.ss03.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.ss01</key>
	<string>T_.ss01.glif</string>
	<key>T.ss02</key>
	<string>T_.ss02.glif</string>
	<key>T.ss03</key>
	<string>T_.ss03.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.ss01</key>
	<string>U_.ss01.glif</string>
	<key>U.ss02</key>
	<string>U_.ss02.glif</string>
	<key>U.ss03</key>
	<string>U_.ss03.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.ss01</key>
	<string>V_.ss01.glif</string>
	<key>V.ss02</key>
	<string>V_.ss02.glif</string>
	<key>V.ss03</key>
	<string>V_.ss03.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.alt</key>
	<string>W_.alt.glif</string>
	<key>W.alt.ss01</key>
	<string>W_.alt.ss01.glif</string>
	<key>W.alt.ss02</key>
	<string>W_.alt.ss02.glif</string>
	<key>W.alt.ss03</key>
	<string>W_.alt.ss03.glif</string>
	<key>W.ss01</key>
	<string>W_.ss01.glif</string>
	<key>W.ss02</key>
	<string>W_.ss02.glif</string>
	<key>W.ss03</key>
	<string>W_.ss03.glif</string>
	<key>Wacute</key>
	<string>W_acute.glif</string>
	<key>Wcircumflex</key>
	<string>W_circumflex.glif</string>
	<key>Wgrave</key>
	<string>W_grave.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.alt</key>
	<string>X_.alt.glif</string>
	<key>X.alt.ss01</key>
	<string>X_.alt.ss01.glif</string>
	<key>X.alt.ss02</key>
	<string>X_.alt.ss02.glif</string>
	<key>X.alt.ss03</key>
	<string>X_.alt.ss03.glif</string>
	<key>X.alt1</key>
	<string>X_.alt1.glif</string>
	<key>X.alt1.ss01</key>
	<string>X_.alt1.ss01.glif</string>
	<key>X.alt1.ss02</key>
	<string>X_.alt1.ss02.glif</string>
	<key>X.alt1.ss03</key>
	<string>X_.alt1.ss03.glif</string>
	<key>X.ss01</key>
	<string>X_.ss01.glif</string>
	<key>X.ss02</key>
	<string>X_.ss02.glif</string>
	<key>X.ss03</key>
	<string>X_.ss03.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.ss01</key>
	<string>Y_.ss01.glif</string>
	<key>Y.ss02</key>
	<string>Y_.ss02.glif</string>
	<key>Y.ss03</key>
	<string>Y_.ss03.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ycircumflex</key>
	<string>Y_circumflex.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.ss01</key>
	<string>Z_.ss01.glif</string>
	<key>Z.ss02</key>
	<string>Z_.ss02.glif</string>
	<key>Z.ss03</key>
	<string>Z_.ss03.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt</key>
	<string>a.alt.glif</string>
	<key>a.alt.ss01</key>
	<string>a.alt.ss01.glif</string>
	<key>a.alt.ss02</key>
	<string>a.alt.ss02.glif</string>
	<key>a.alt.ss03</key>
	<string>a.alt.ss03.glif</string>
	<key>a.patt</key>
	<string>a.patt.glif</string>
	<key>a.patt.ss01</key>
	<string>a.patt.ss01.glif</string>
	<key>a.patt.ss02</key>
	<string>a.patt.ss02.glif</string>
	<key>a.patt.ss03</key>
	<string>a.patt.ss03.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>a.ss02</key>
	<string>a.ss02.glif</string>
	<key>a.ss03</key>
	<string>a.ss03.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>acutecomb.ss01</key>
	<string>acutecomb.ss01.glif</string>
	<key>acutecomb.ss02</key>
	<string>acutecomb.ss02.glif</string>
	<key>acutecomb.ss03</key>
	<string>acutecomb.ss03.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.ss01</key>
	<string>ampersand.ss01.glif</string>
	<key>ampersand.ss02</key>
	<string>ampersand.ss02.glif</string>
	<key>ampersand.ss03</key>
	<string>ampersand.ss03.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowdown.ss01</key>
	<string>arrowdown.ss01.glif</string>
	<key>arrowdown.ss02</key>
	<string>arrowdown.ss02.glif</string>
	<key>arrowdown.ss03</key>
	<string>arrowdown.ss03.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowleft.ss01</key>
	<string>arrowleft.ss01.glif</string>
	<key>arrowleft.ss02</key>
	<string>arrowleft.ss02.glif</string>
	<key>arrowleft.ss03</key>
	<string>arrowleft.ss03.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowright.ss01</key>
	<string>arrowright.ss01.glif</string>
	<key>arrowright.ss02</key>
	<string>arrowright.ss02.glif</string>
	<key>arrowright.ss03</key>
	<string>arrowright.ss03.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>arrowup.ss01</key>
	<string>arrowup.ss01.glif</string>
	<key>arrowup.ss02</key>
	<string>arrowup.ss02.glif</string>
	<key>arrowup.ss03</key>
	<string>arrowup.ss03.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>asterisk.ss01</key>
	<string>asterisk.ss01.glif</string>
	<key>asterisk.ss02</key>
	<string>asterisk.ss02.glif</string>
	<key>asterisk.ss03</key>
	<string>asterisk.ss03.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.ss01</key>
	<string>at.ss01.glif</string>
	<key>at.ss02</key>
	<string>at.ss02.glif</string>
	<key>at.ss03</key>
	<string>at.ss03.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.ss01</key>
	<string>b.ss01.glif</string>
	<key>b.ss02</key>
	<string>b.ss02.glif</string>
	<key>b.ss03</key>
	<string>b.ss03.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>backslash.ss01</key>
	<string>backslash.ss01.glif</string>
	<key>backslash.ss02</key>
	<string>backslash.ss02.glif</string>
	<key>backslash.ss03</key>
	<string>backslash.ss03.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceleft.ss01</key>
	<string>braceleft.ss01.glif</string>
	<key>braceleft.ss02</key>
	<string>braceleft.ss02.glif</string>
	<key>braceleft.ss03</key>
	<string>braceleft.ss03.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>braceright.ss01</key>
	<string>braceright.ss01.glif</string>
	<key>braceright.ss02</key>
	<string>braceright.ss02.glif</string>
	<key>braceright.ss03</key>
	<string>braceright.ss03.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketleft.ss01</key>
	<string>bracketleft.ss01.glif</string>
	<key>bracketleft.ss02</key>
	<string>bracketleft.ss02.glif</string>
	<key>bracketleft.ss03</key>
	<string>bracketleft.ss03.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bracketright.ss01</key>
	<string>bracketright.ss01.glif</string>
	<key>bracketright.ss02</key>
	<string>bracketright.ss02.glif</string>
	<key>bracketright.ss03</key>
	<string>bracketright.ss03.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.ss01</key>
	<string>c.ss01.glif</string>
	<key>c.ss02</key>
	<string>c.ss02.glif</string>
	<key>c.ss03</key>
	<string>c.ss03.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>cent.ss01</key>
	<string>cent.ss01.glif</string>
	<key>cent.ss02</key>
	<string>cent.ss02.glif</string>
	<key>cent.ss03</key>
	<string>cent.ss03.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>circumflexcomb.ss01</key>
	<string>circumflexcomb.ss01.glif</string>
	<key>circumflexcomb.ss02</key>
	<string>circumflexcomb.ss02.glif</string>
	<key>circumflexcomb.ss03</key>
	<string>circumflexcomb.ss03.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colon.ss01</key>
	<string>colon.ss01.glif</string>
	<key>colon.ss02</key>
	<string>colon.ss02.glif</string>
	<key>colon.ss03</key>
	<string>colon.ss03.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma.ss01</key>
	<string>comma.ss01.glif</string>
	<key>comma.ss02</key>
	<string>comma.ss02.glif</string>
	<key>comma.ss03</key>
	<string>comma.ss03.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.ss01</key>
	<string>d.ss01.glif</string>
	<key>d.ss02</key>
	<string>d.ss02.glif</string>
	<key>d.ss03</key>
	<string>d.ss03.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>degree.ss01</key>
	<string>degree.ss01.glif</string>
	<key>degree.ss02</key>
	<string>degree.ss02.glif</string>
	<key>degree.ss03</key>
	<string>degree.ss03.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.ss01</key>
	<string>dollar.ss01.glif</string>
	<key>dollar.ss02</key>
	<string>dollar.ss02.glif</string>
	<key>dollar.ss03</key>
	<string>dollar.ss03.glif</string>
	<key>dotlessi.ss01</key>
	<string>dotlessi.ss01.glif</string>
	<key>dotlessi.ss02</key>
	<string>dotlessi.ss02.glif</string>
	<key>dotlessi.ss03</key>
	<string>dotlessi.ss03.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.ss01</key>
	<string>e.ss01.glif</string>
	<key>e.ss02</key>
	<string>e.ss02.glif</string>
	<key>e.ss03</key>
	<string>e.ss03.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.onum</key>
	<string>eight.onum.glif</string>
	<key>eight.onum.ss01</key>
	<string>eight.onum.ss01.glif</string>
	<key>eight.onum.ss02</key>
	<string>eight.onum.ss02.glif</string>
	<key>eight.onum.ss03</key>
	<string>eight.onum.ss03.glif</string>
	<key>eight.ss01</key>
	<string>eight.ss01.glif</string>
	<key>eight.ss02</key>
	<string>eight.ss02.glif</string>
	<key>eight.ss03</key>
	<string>eight.ss03.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.ss01</key>
	<string>emdash.ss01.glif</string>
	<key>emdash.ss02</key>
	<string>emdash.ss02.glif</string>
	<key>emdash.ss03</key>
	<string>emdash.ss03.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>endash.ss01</key>
	<string>endash.ss01.glif</string>
	<key>endash.ss02</key>
	<string>endash.ss02.glif</string>
	<key>endash.ss03</key>
	<string>endash.ss03.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>equal.ss01</key>
	<string>equal.ss01.glif</string>
	<key>equal.ss02</key>
	<string>equal.ss02.glif</string>
	<key>equal.ss03</key>
	<string>equal.ss03.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclam.ss01</key>
	<string>exclam.ss01.glif</string>
	<key>exclam.ss02</key>
	<string>exclam.ss02.glif</string>
	<key>exclam.ss03</key>
	<string>exclam.ss03.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.ss01</key>
	<string>f.ss01.glif</string>
	<key>f.ss02</key>
	<string>f.ss02.glif</string>
	<key>f.ss03</key>
	<string>f.ss03.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.onum</key>
	<string>five.onum.glif</string>
	<key>five.onum.ss01</key>
	<string>five.onum.ss01.glif</string>
	<key>five.onum.ss02</key>
	<string>five.onum.ss02.glif</string>
	<key>five.onum.ss03</key>
	<string>five.onum.ss03.glif</string>
	<key>five.ss01</key>
	<string>five.ss01.glif</string>
	<key>five.ss02</key>
	<string>five.ss02.glif</string>
	<key>five.ss03</key>
	<string>five.ss03.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.onum</key>
	<string>four.onum.glif</string>
	<key>four.onum.ss01</key>
	<string>four.onum.ss01.glif</string>
	<key>four.onum.ss02</key>
	<string>four.onum.ss02.glif</string>
	<key>four.onum.ss03</key>
	<string>four.onum.ss03.glif</string>
	<key>four.ss01</key>
	<string>four.ss01.glif</string>
	<key>four.ss02</key>
	<string>four.ss02.glif</string>
	<key>four.ss03</key>
	<string>four.ss03.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>g.ss02</key>
	<string>g.ss02.glif</string>
	<key>g.ss03</key>
	<string>g.ss03.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gravecomb.ss01</key>
	<string>gravecomb.ss01.glif</string>
	<key>gravecomb.ss02</key>
	<string>gravecomb.ss02.glif</string>
	<key>gravecomb.ss03</key>
	<string>gravecomb.ss03.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.ss01</key>
	<string>h.ss01.glif</string>
	<key>h.ss02</key>
	<string>h.ss02.glif</string>
	<key>h.ss03</key>
	<string>h.ss03.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphen.ss01</key>
	<string>hyphen.ss01.glif</string>
	<key>hyphen.ss02</key>
	<string>hyphen.ss02.glif</string>
	<key>hyphen.ss03</key>
	<string>hyphen.ss03.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>i.ss02</key>
	<string>i.ss02.glif</string>
	<key>i.ss03</key>
	<string>i.ss03.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.ss01</key>
	<string>j.ss01.glif</string>
	<key>j.ss02</key>
	<string>j.ss02.glif</string>
	<key>j.ss03</key>
	<string>j.ss03.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.ss01</key>
	<string>k.ss01.glif</string>
	<key>k.ss02</key>
	<string>k.ss02.glif</string>
	<key>k.ss03</key>
	<string>k.ss03.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.ss01</key>
	<string>l.ss01.glif</string>
	<key>l.ss02</key>
	<string>l.ss02.glif</string>
	<key>l.ss03</key>
	<string>l.ss03.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.ss01</key>
	<string>m.ss01.glif</string>
	<key>m.ss02</key>
	<string>m.ss02.glif</string>
	<key>m.ss03</key>
	<string>m.ss03.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.ss01</key>
	<string>n.ss01.glif</string>
	<key>n.ss02</key>
	<string>n.ss02.glif</string>
	<key>n.ss03</key>
	<string>n.ss03.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.onum</key>
	<string>nine.onum.glif</string>
	<key>nine.onum.ss01</key>
	<string>nine.onum.ss01.glif</string>
	<key>nine.onum.ss02</key>
	<string>nine.onum.ss02.glif</string>
	<key>nine.onum.ss03</key>
	<string>nine.onum.ss03.glif</string>
	<key>nine.ss01</key>
	<string>nine.ss01.glif</string>
	<key>nine.ss02</key>
	<string>nine.ss02.glif</string>
	<key>nine.ss03</key>
	<string>nine.ss03.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numbersign.ss01</key>
	<string>numbersign.ss01.glif</string>
	<key>numbersign.ss02</key>
	<string>numbersign.ss02.glif</string>
	<key>numbersign.ss03</key>
	<string>numbersign.ss03.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.ss01</key>
	<string>o.ss01.glif</string>
	<key>o.ss02</key>
	<string>o.ss02.glif</string>
	<key>o.ss03</key>
	<string>o.ss03.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.onum</key>
	<string>one.onum.glif</string>
	<key>one.onum.ss01</key>
	<string>one.onum.ss01.glif</string>
	<key>one.onum.ss02</key>
	<string>one.onum.ss02.glif</string>
	<key>one.onum.ss03</key>
	<string>one.onum.ss03.glif</string>
	<key>one.ss01</key>
	<string>one.ss01.glif</string>
	<key>one.ss02</key>
	<string>one.ss02.glif</string>
	<key>one.ss03</key>
	<string>one.ss03.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.ss01</key>
	<string>p.ss01.glif</string>
	<key>p.ss02</key>
	<string>p.ss02.glif</string>
	<key>p.ss03</key>
	<string>p.ss03.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenleft.ss01</key>
	<string>parenleft.ss01.glif</string>
	<key>parenleft.ss02</key>
	<string>parenleft.ss02.glif</string>
	<key>parenleft.ss03</key>
	<string>parenleft.ss03.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.ss01</key>
	<string>parenright.ss01.glif</string>
	<key>parenright.ss02</key>
	<string>parenright.ss02.glif</string>
	<key>parenright.ss03</key>
	<string>parenright.ss03.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>percent.ss01</key>
	<string>percent.ss01.glif</string>
	<key>percent.ss02</key>
	<string>percent.ss02.glif</string>
	<key>percent.ss03</key>
	<string>percent.ss03.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>period.ss01</key>
	<string>period.ss01.glif</string>
	<key>period.ss02</key>
	<string>period.ss02.glif</string>
	<key>period.ss03</key>
	<string>period.ss03.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plus.ss01</key>
	<string>plus.ss01.glif</string>
	<key>plus.ss02</key>
	<string>plus.ss02.glif</string>
	<key>plus.ss03</key>
	<string>plus.ss03.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.ss01</key>
	<string>q.ss01.glif</string>
	<key>q.ss02</key>
	<string>q.ss02.glif</string>
	<key>q.ss03</key>
	<string>q.ss03.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.ss01</key>
	<string>question.ss01.glif</string>
	<key>question.ss02</key>
	<string>question.ss02.glif</string>
	<key>question.ss03</key>
	<string>question.ss03.glif</string>
	<key>quotebdl</key>
	<string>quotebdl.glif</string>
	<key>quotebdl.ss01</key>
	<string>quotebdl.ss01.glif</string>
	<key>quotebdl.ss02</key>
	<string>quotebdl.ss02.glif</string>
	<key>quotebdl.ss03</key>
	<string>quotebdl.ss03.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteleft.ss01</key>
	<string>quoteleft.ss01.glif</string>
	<key>quoteleft.ss02</key>
	<string>quoteleft.ss02.glif</string>
	<key>quoteleft.ss03</key>
	<string>quoteleft.ss03.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quoteright.ss01</key>
	<string>quoteright.ss01.glif</string>
	<key>quoteright.ss02</key>
	<string>quoteright.ss02.glif</string>
	<key>quoteright.ss03</key>
	<string>quoteright.ss03.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>quotesingle.ss01</key>
	<string>quotesingle.ss01.glif</string>
	<key>quotesingle.ss02</key>
	<string>quotesingle.ss02.glif</string>
	<key>quotesingle.ss03</key>
	<string>quotesingle.ss03.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.alt</key>
	<string>r.alt.glif</string>
	<key>r.alt.ss01</key>
	<string>r.alt.ss01.glif</string>
	<key>r.alt.ss02</key>
	<string>r.alt.ss02.glif</string>
	<key>r.alt.ss03</key>
	<string>r.alt.ss03.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>r.ss02</key>
	<string>r.ss02.glif</string>
	<key>r.ss03</key>
	<string>r.ss03.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.alt</key>
	<string>s.alt.glif</string>
	<key>s.alt.ss01</key>
	<string>s.alt.ss01.glif</string>
	<key>s.alt.ss02</key>
	<string>s.alt.ss02.glif</string>
	<key>s.alt.ss03</key>
	<string>s.alt.ss03.glif</string>
	<key>s.patt</key>
	<string>s.patt.glif</string>
	<key>s.patt.ss01</key>
	<string>s.patt.ss01.glif</string>
	<key>s.patt.ss02</key>
	<string>s.patt.ss02.glif</string>
	<key>s.patt.ss03</key>
	<string>s.patt.ss03.glif</string>
	<key>s.ss01</key>
	<string>s.ss01.glif</string>
	<key>s.ss02</key>
	<string>s.ss02.glif</string>
	<key>s.ss03</key>
	<string>s.ss03.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>semicolon.ss01</key>
	<string>semicolon.ss01.glif</string>
	<key>semicolon.ss02</key>
	<string>semicolon.ss02.glif</string>
	<key>semicolon.ss03</key>
	<string>semicolon.ss03.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.onum</key>
	<string>seven.onum.glif</string>
	<key>seven.onum.ss01</key>
	<string>seven.onum.ss01.glif</string>
	<key>seven.onum.ss02</key>
	<string>seven.onum.ss02.glif</string>
	<key>seven.onum.ss03</key>
	<string>seven.onum.ss03.glif</string>
	<key>seven.ss01</key>
	<string>seven.ss01.glif</string>
	<key>seven.ss02</key>
	<string>seven.ss02.glif</string>
	<key>seven.ss03</key>
	<string>seven.ss03.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.onum</key>
	<string>six.onum.glif</string>
	<key>six.onum.ss01</key>
	<string>six.onum.ss01.glif</string>
	<key>six.onum.ss02</key>
	<string>six.onum.ss02.glif</string>
	<key>six.onum.ss03</key>
	<string>six.onum.ss03.glif</string>
	<key>six.ss01</key>
	<string>six.ss01.glif</string>
	<key>six.ss02</key>
	<string>six.ss02.glif</string>
	<key>six.ss03</key>
	<string>six.ss03.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slash.ss01</key>
	<string>slash.ss01.glif</string>
	<key>slash.ss02</key>
	<string>slash.ss02.glif</string>
	<key>slash.ss03</key>
	<string>slash.ss03.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>space.ss01</key>
	<string>space.ss01.glif</string>
	<key>space.ss02</key>
	<string>space.ss02.glif</string>
	<key>space.ss03</key>
	<string>space.ss03.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.ss01</key>
	<string>t.ss01.glif</string>
	<key>t.ss02</key>
	<string>t.ss02.glif</string>
	<key>t.ss03</key>
	<string>t.ss03.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.alt</key>
	<string>three.alt.glif</string>
	<key>three.alt.ss01</key>
	<string>three.alt.ss01.glif</string>
	<key>three.alt.ss02</key>
	<string>three.alt.ss02.glif</string>
	<key>three.alt.ss03</key>
	<string>three.alt.ss03.glif</string>
	<key>three.onum</key>
	<string>three.onum.glif</string>
	<key>three.onum.ss01</key>
	<string>three.onum.ss01.glif</string>
	<key>three.onum.ss02</key>
	<string>three.onum.ss02.glif</string>
	<key>three.onum.ss03</key>
	<string>three.onum.ss03.glif</string>
	<key>three.ss01</key>
	<string>three.ss01.glif</string>
	<key>three.ss02</key>
	<string>three.ss02.glif</string>
	<key>three.ss03</key>
	<string>three.ss03.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.onum</key>
	<string>two.onum.glif</string>
	<key>two.onum.ss01</key>
	<string>two.onum.ss01.glif</string>
	<key>two.onum.ss02</key>
	<string>two.onum.ss02.glif</string>
	<key>two.onum.ss03</key>
	<string>two.onum.ss03.glif</string>
	<key>two.ss01</key>
	<string>two.ss01.glif</string>
	<key>two.ss02</key>
	<string>two.ss02.glif</string>
	<key>two.ss03</key>
	<string>two.ss03.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.ss01</key>
	<string>u.ss01.glif</string>
	<key>u.ss02</key>
	<string>u.ss02.glif</string>
	<key>u.ss03</key>
	<string>u.ss03.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uni1F33F</key>
	<string>uni1F_33F_.glif</string>
	<key>uni1F33F.ss01</key>
	<string>uni1F_33F_.ss01.glif</string>
	<key>uni1F33F.ss02</key>
	<string>uni1F_33F_.ss02.glif</string>
	<key>uni1F33F.ss03</key>
	<string>uni1F_33F_.ss03.glif</string>
	<key>uni1F3B5</key>
	<string>uni1F_3B_5.glif</string>
	<key>uni1F3B5.ss01</key>
	<string>uni1F_3B_5.ss01.glif</string>
	<key>uni1F3B5.ss02</key>
	<string>uni1F_3B_5.ss02.glif</string>
	<key>uni1F3B5.ss03</key>
	<string>uni1F_3B_5.ss03.glif</string>
	<key>uni1F3B6</key>
	<string>uni1F_3B_6.glif</string>
	<key>uni1F3B6.ss01</key>
	<string>uni1F_3B_6.ss01.glif</string>
	<key>uni1F3B6.ss02</key>
	<string>uni1F_3B_6.ss02.glif</string>
	<key>uni1F3B6.ss03</key>
	<string>uni1F_3B_6.ss03.glif</string>
	<key>uni1F3E0</key>
	<string>uni1F_3E_0.glif</string>
	<key>uni1F3E0.ss01</key>
	<string>uni1F_3E_0.ss01.glif</string>
	<key>uni1F3E0.ss02</key>
	<string>uni1F_3E_0.ss02.glif</string>
	<key>uni1F3E0.ss03</key>
	<string>uni1F_3E_0.ss03.glif</string>
	<key>uni1F435</key>
	<string>uni1F_435.glif</string>
	<key>uni1F435.ss01</key>
	<string>uni1F_435.ss01.glif</string>
	<key>uni1F435.ss02</key>
	<string>uni1F_435.ss02.glif</string>
	<key>uni1F435.ss03</key>
	<string>uni1F_435.ss03.glif</string>
	<key>uni1F468</key>
	<string>uni1F_468.glif</string>
	<key>uni1F468.ss01</key>
	<string>uni1F_468.ss01.glif</string>
	<key>uni1F468.ss02</key>
	<string>uni1F_468.ss02.glif</string>
	<key>uni1F468.ss03</key>
	<string>uni1F_468.ss03.glif</string>
	<key>uni1F480</key>
	<string>uni1F_480.glif</string>
	<key>uni1F480.ss01</key>
	<string>uni1F_480.ss01.glif</string>
	<key>uni1F480.ss02</key>
	<string>uni1F_480.ss02.glif</string>
	<key>uni1F480.ss03</key>
	<string>uni1F_480.ss03.glif</string>
	<key>uni1F4A1</key>
	<string>uni1F_4A_1.glif</string>
	<key>uni1F4A1.ss01</key>
	<string>uni1F_4A_1.ss01.glif</string>
	<key>uni1F4A1.ss02</key>
	<string>uni1F_4A_1.ss02.glif</string>
	<key>uni1F4A1.ss03</key>
	<string>uni1F_4A_1.ss03.glif</string>
	<key>uni1F4AC</key>
	<string>uni1F_4A_C_.glif</string>
	<key>uni1F4AC.ss01</key>
	<string>uni1F_4A_C_.ss01.glif</string>
	<key>uni1F4AC.ss02</key>
	<string>uni1F_4A_C_.ss02.glif</string>
	<key>uni1F4AC.ss03</key>
	<string>uni1F_4A_C_.ss03.glif</string>
	<key>uni1F4F1</key>
	<string>uni1F_4F_1.glif</string>
	<key>uni1F4F1.ss01</key>
	<string>uni1F_4F_1.ss01.glif</string>
	<key>uni1F4F1.ss02</key>
	<string>uni1F_4F_1.ss02.glif</string>
	<key>uni1F4F1.ss03</key>
	<string>uni1F_4F_1.ss03.glif</string>
	<key>uni1F532</key>
	<string>uni1F_532.glif</string>
	<key>uni1F532.ss01</key>
	<string>uni1F_532.ss01.glif</string>
	<key>uni1F532.ss02</key>
	<string>uni1F_532.ss02.glif</string>
	<key>uni1F532.ss03</key>
	<string>uni1F_532.ss03.glif</string>
	<key>uni1F533</key>
	<string>uni1F_533.glif</string>
	<key>uni1F533.ss01</key>
	<string>uni1F_533.ss01.glif</string>
	<key>uni1F533.ss02</key>
	<string>uni1F_533.ss02.glif</string>
	<key>uni1F533.ss03</key>
	<string>uni1F_533.ss03.glif</string>
	<key>uni1F56F</key>
	<string>uni1F_56F_.glif</string>
	<key>uni1F56F.ss01</key>
	<string>uni1F_56F_.ss01.glif</string>
	<key>uni1F56F.ss02</key>
	<string>uni1F_56F_.ss02.glif</string>
	<key>uni1F56F.ss03</key>
	<string>uni1F_56F_.ss03.glif</string>
	<key>uni1F576</key>
	<string>uni1F_576.glif</string>
	<key>uni1F576.ss01</key>
	<string>uni1F_576.ss01.glif</string>
	<key>uni1F576.ss02</key>
	<string>uni1F_576.ss02.glif</string>
	<key>uni1F576.ss03</key>
	<string>uni1F_576.ss03.glif</string>
	<key>uni1F609</key>
	<string>uni1F_609.glif</string>
	<key>uni1F609.ss01</key>
	<string>uni1F_609.ss01.glif</string>
	<key>uni1F609.ss02</key>
	<string>uni1F_609.ss02.glif</string>
	<key>uni1F609.ss03</key>
	<string>uni1F_609.ss03.glif</string>
	<key>uni1F60A</key>
	<string>uni1F_60A_.glif</string>
	<key>uni1F60A.ss01</key>
	<string>uni1F_60A_.ss01.glif</string>
	<key>uni1F60A.ss02</key>
	<string>uni1F_60A_.ss02.glif</string>
	<key>uni1F60A.ss03</key>
	<string>uni1F_60A_.ss03.glif</string>
	<key>uni1F60B</key>
	<string>uni1F_60B_.glif</string>
	<key>uni1F60B.ss01</key>
	<string>uni1F_60B_.ss01.glif</string>
	<key>uni1F60B.ss02</key>
	<string>uni1F_60B_.ss02.glif</string>
	<key>uni1F60B.ss03</key>
	<string>uni1F_60B_.ss03.glif</string>
	<key>uni1F614</key>
	<string>uni1F_614.glif</string>
	<key>uni1F614.ss01</key>
	<string>uni1F_614.ss01.glif</string>
	<key>uni1F614.ss02</key>
	<string>uni1F_614.ss02.glif</string>
	<key>uni1F614.ss03</key>
	<string>uni1F_614.ss03.glif</string>
	<key>uni1F61A</key>
	<string>uni1F_61A_.glif</string>
	<key>uni1F61A.ss01</key>
	<string>uni1F_61A_.ss01.glif</string>
	<key>uni1F61A.ss02</key>
	<string>uni1F_61A_.ss02.glif</string>
	<key>uni1F61A.ss03</key>
	<string>uni1F_61A_.ss03.glif</string>
	<key>uni1F621</key>
	<string>uni1F_621.glif</string>
	<key>uni1F621.ss01</key>
	<string>uni1F_621.ss01.glif</string>
	<key>uni1F621.ss02</key>
	<string>uni1F_621.ss02.glif</string>
	<key>uni1F621.ss03</key>
	<string>uni1F_621.ss03.glif</string>
	<key>uni1F62D</key>
	<string>uni1F_62D_.glif</string>
	<key>uni1F62D.ss01</key>
	<string>uni1F_62D_.ss01.glif</string>
	<key>uni1F62D.ss02</key>
	<string>uni1F_62D_.ss02.glif</string>
	<key>uni1F62D.ss03</key>
	<string>uni1F_62D_.ss03.glif</string>
	<key>uni1F63A</key>
	<string>uni1F_63A_.glif</string>
	<key>uni1F63A.ss01</key>
	<string>uni1F_63A_.ss01.glif</string>
	<key>uni1F63A.ss02</key>
	<string>uni1F_63A_.ss02.glif</string>
	<key>uni1F63A.ss03</key>
	<string>uni1F_63A_.ss03.glif</string>
	<key>uni1F916</key>
	<string>uni1F_916.glif</string>
	<key>uni1F916.ss01</key>
	<string>uni1F_916.ss01.glif</string>
	<key>uni1F916.ss02</key>
	<string>uni1F_916.ss02.glif</string>
	<key>uni1F916.ss03</key>
	<string>uni1F_916.ss03.glif</string>
	<key>uni2196</key>
	<string>uni2196.glif</string>
	<key>uni2196.ss01</key>
	<string>uni2196.ss01.glif</string>
	<key>uni2196.ss02</key>
	<string>uni2196.ss02.glif</string>
	<key>uni2196.ss03</key>
	<string>uni2196.ss03.glif</string>
	<key>uni2197</key>
	<string>uni2197.glif</string>
	<key>uni2197.ss01</key>
	<string>uni2197.ss01.glif</string>
	<key>uni2197.ss02</key>
	<string>uni2197.ss02.glif</string>
	<key>uni2197.ss03</key>
	<string>uni2197.ss03.glif</string>
	<key>uni2198</key>
	<string>uni2198.glif</string>
	<key>uni2198.ss01</key>
	<string>uni2198.ss01.glif</string>
	<key>uni2198.ss02</key>
	<string>uni2198.ss02.glif</string>
	<key>uni2198.ss03</key>
	<string>uni2198.ss03.glif</string>
	<key>uni2199</key>
	<string>uni2199.glif</string>
	<key>uni2199.ss01</key>
	<string>uni2199.ss01.glif</string>
	<key>uni2199.ss02</key>
	<string>uni2199.ss02.glif</string>
	<key>uni2199.ss03</key>
	<string>uni2199.ss03.glif</string>
	<key>uni25FC</key>
	<string>uni25F_C_.glif</string>
	<key>uni25FC.ss01</key>
	<string>uni25F_C_.ss01.glif</string>
	<key>uni25FC.ss02</key>
	<string>uni25F_C_.ss02.glif</string>
	<key>uni25FC.ss03</key>
	<string>uni25F_C_.ss03.glif</string>
	<key>uni2615</key>
	<string>uni2615.glif</string>
	<key>uni2615.ss01</key>
	<string>uni2615.ss01.glif</string>
	<key>uni2615.ss02</key>
	<string>uni2615.ss02.glif</string>
	<key>uni2615.ss03</key>
	<string>uni2615.ss03.glif</string>
	<key>uni2620</key>
	<string>uni2620.glif</string>
	<key>uni2620.ss01</key>
	<string>uni2620.ss01.glif</string>
	<key>uni2620.ss02</key>
	<string>uni2620.ss02.glif</string>
	<key>uni2620.ss03</key>
	<string>uni2620.ss03.glif</string>
	<key>uni262D</key>
	<string>uni262D_.glif</string>
	<key>uni262D.ss01</key>
	<string>uni262D_.ss01.glif</string>
	<key>uni262D.ss02</key>
	<string>uni262D_.ss02.glif</string>
	<key>uni262D.ss03</key>
	<string>uni262D_.ss03.glif</string>
	<key>uni2709</key>
	<string>uni2709.glif</string>
	<key>uni2709.ss01</key>
	<string>uni2709.ss01.glif</string>
	<key>uni2709.ss02</key>
	<string>uni2709.ss02.glif</string>
	<key>uni2709.ss03</key>
	<string>uni2709.ss03.glif</string>
	<key>uni2764</key>
	<string>uni2764.glif</string>
	<key>uni2764.ss01</key>
	<string>uni2764.ss01.glif</string>
	<key>uni2764.ss02</key>
	<string>uni2764.ss02.glif</string>
	<key>uni2764.ss03</key>
	<string>uni2764.ss03.glif</string>
	<key>uni27A1</key>
	<string>uni27A_1.glif</string>
	<key>uni27A1.ss01</key>
	<string>uni27A_1.ss01.glif</string>
	<key>uni27A1.ss02</key>
	<string>uni27A_1.ss02.glif</string>
	<key>uni27A1.ss03</key>
	<string>uni27A_1.ss03.glif</string>
	<key>uni2B05</key>
	<string>uni2B_05.glif</string>
	<key>uni2B05.ss01</key>
	<string>uni2B_05.ss01.glif</string>
	<key>uni2B05.ss02</key>
	<string>uni2B_05.ss02.glif</string>
	<key>uni2B05.ss03</key>
	<string>uni2B_05.ss03.glif</string>
	<key>uni2B06</key>
	<string>uni2B_06.glif</string>
	<key>uni2B06.ss01</key>
	<string>uni2B_06.ss01.glif</string>
	<key>uni2B06.ss02</key>
	<string>uni2B_06.ss02.glif</string>
	<key>uni2B06.ss03</key>
	<string>uni2B_06.ss03.glif</string>
	<key>uni2B07</key>
	<string>uni2B_07.glif</string>
	<key>uni2B07.ss01</key>
	<string>uni2B_07.ss01.glif</string>
	<key>uni2B07.ss02</key>
	<string>uni2B_07.ss02.glif</string>
	<key>uni2B07.ss03</key>
	<string>uni2B_07.ss03.glif</string>
	<key>uniF552</key>
	<string>uniF_552.glif</string>
	<key>uniF552.ss01</key>
	<string>uniF_552.ss01.glif</string>
	<key>uniF552.ss02</key>
	<string>uniF_552.ss02.glif</string>
	<key>uniF552.ss03</key>
	<string>uniF_552.ss03.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.ss01</key>
	<string>v.ss01.glif</string>
	<key>v.ss02</key>
	<string>v.ss02.glif</string>
	<key>v.ss03</key>
	<string>v.ss03.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.alt</key>
	<string>w.alt.glif</string>
	<key>w.alt.ss01</key>
	<string>w.alt.ss01.glif</string>
	<key>w.alt.ss02</key>
	<string>w.alt.ss02.glif</string>
	<key>w.alt.ss03</key>
	<string>w.alt.ss03.glif</string>
	<key>w.ss01</key>
	<string>w.ss01.glif</string>
	<key>w.ss02</key>
	<string>w.ss02.glif</string>
	<key>w.ss03</key>
	<string>w.ss03.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.alt</key>
	<string>x.alt.glif</string>
	<key>x.alt.ss01</key>
	<string>x.alt.ss01.glif</string>
	<key>x.alt.ss02</key>
	<string>x.alt.ss02.glif</string>
	<key>x.alt.ss03</key>
	<string>x.alt.ss03.glif</string>
	<key>x.alt1</key>
	<string>x.alt1.glif</string>
	<key>x.alt1.ss01</key>
	<string>x.alt1.ss01.glif</string>
	<key>x.alt1.ss02</key>
	<string>x.alt1.ss02.glif</string>
	<key>x.alt1.ss03</key>
	<string>x.alt1.ss03.glif</string>
	<key>x.ss01</key>
	<string>x.ss01.glif</string>
	<key>x.ss02</key>
	<string>x.ss02.glif</string>
	<key>x.ss03</key>
	<string>x.ss03.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.alt</key>
	<string>y.alt.glif</string>
	<key>y.alt.ss01</key>
	<string>y.alt.ss01.glif</string>
	<key>y.alt.ss02</key>
	<string>y.alt.ss02.glif</string>
	<key>y.alt.ss03</key>
	<string>y.alt.ss03.glif</string>
	<key>y.ss01</key>
	<string>y.ss01.glif</string>
	<key>y.ss02</key>
	<string>y.ss02.glif</string>
	<key>y.ss03</key>
	<string>y.ss03.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yen.ss01</key>
	<string>yen.ss01.glif</string>
	<key>yen.ss02</key>
	<string>yen.ss02.glif</string>
	<key>yen.ss03</key>
	<string>yen.ss03.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.ss01</key>
	<string>z.ss01.glif</string>
	<key>z.ss02</key>
	<string>z.ss02.glif</string>
	<key>z.ss03</key>
	<string>z.ss03.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.alt</key>
	<string>zero.alt.glif</string>
	<key>zero.alt.ss01</key>
	<string>zero.alt.ss01.glif</string>
	<key>zero.alt.ss02</key>
	<string>zero.alt.ss02.glif</string>
	<key>zero.alt.ss03</key>
	<string>zero.alt.ss03.glif</string>
	<key>zero.onum</key>
	<string>zero.onum.glif</string>
	<key>zero.onum.ss01</key>
	<string>zero.onum.ss01.glif</string>
	<key>zero.onum.ss02</key>
	<string>zero.onum.ss02.glif</string>
	<key>zero.onum.ss03</key>
	<string>zero.onum.ss03.glif</string>
	<key>zero.ss01</key>
	<string>zero.ss01.glif</string>
	<key>zero.ss02</key>
	<string>zero.ss02.glif</string>
	<key>zero.ss03</key>
	<string>zero.ss03.glif</string>
</dict>
</plist>
