<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test_symbol-0</key>
	<string>test_symbol-0.glif</string>
	<key>test_symbol-1</key>
	<string>test_symbol-1.glif</string>
	<key>test_symbol-2</key>
	<string>test_symbol-2.glif</string>
	<key>test_symbol-3</key>
	<string>test_symbol-3.glif</string>
</dict>
</plist>
