<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.patt</key>
	<string>a.patt.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>eight.onum</key>
	<string>eight.onum.glif</string>
	<key>five.onum</key>
	<string>five.onum.glif</string>
	<key>four.onum</key>
	<string>four.onum.glif</string>
	<key>nine.onum</key>
	<string>nine.onum.glif</string>
	<key>one.onum</key>
	<string>one.onum.glif</string>
	<key>s.patt</key>
	<string>s.patt.glif</string>
	<key>seven.onum</key>
	<string>seven.onum.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.onum</key>
	<string>six.onum.glif</string>
	<key>three.onum</key>
	<string>three.onum.glif</string>
	<key>two.onum</key>
	<string>two.onum.glif</string>
	<key>uni1F33F</key>
	<string>uni1F33F_.glif</string>
	<key>uni1F3B5</key>
	<string>uni1F3B5_.glif</string>
	<key>uni1F3B6</key>
	<string>uni1F3B6_.glif</string>
	<key>uni1F435</key>
	<string>uni1F435_.glif</string>
	<key>uni1F468</key>
	<string>uni1F468_.glif</string>
	<key>uni1F480</key>
	<string>uni1F480_.glif</string>
	<key>uni1F4A1</key>
	<string>uni1F4A1_.glif</string>
	<key>uni1F4AC</key>
	<string>uni1F4AC_.glif</string>
	<key>uni1F4F1</key>
	<string>uni1F4F1_.glif</string>
	<key>uni1F532</key>
	<string>uni1F532_.glif</string>
	<key>uni1F533</key>
	<string>uni1F533_.glif</string>
	<key>uni1F56F</key>
	<string>uni1F56F_.glif</string>
	<key>uni1F576</key>
	<string>uni1F576_.glif</string>
	<key>uni1F60B</key>
	<string>uni1F60B_.glif</string>
	<key>uni1F62D</key>
	<string>uni1F62D_.glif</string>
	<key>uni1F916</key>
	<string>uni1F916_.glif</string>
	<key>uni25FC</key>
	<string>uni25FC_.glif</string>
	<key>uni2615</key>
	<string>uni2615.glif</string>
	<key>uni2620</key>
	<string>uni2620.glif</string>
	<key>uni262D</key>
	<string>uni262D_.glif</string>
	<key>uni2709</key>
	<string>uni2709.glif</string>
	<key>uni2764</key>
	<string>uni2764.glif</string>
	<key>uni27A1</key>
	<string>uni27A1_.glif</string>
	<key>uni2B05</key>
	<string>uni2B05_.glif</string>
	<key>uni2B06</key>
	<string>uni2B06_.glif</string>
	<key>uni2B07</key>
	<string>uni2B07_.glif</string>
	<key>uniF552</key>
	<string>uniF552_.glif</string>
	<key>zero.onum</key>
	<string>zero.onum.glif</string>
</dict>
</plist>
