<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.alt</key>
	<string>B_.alt.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.alt</key>
	<string>K_.alt.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.alt</key>
	<string>M_.alt.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.alt</key>
	<string>Q_.alt.glif</string>
	<key>Q.alt1</key>
	<string>Q_.alt1.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.alt</key>
	<string>R_.alt.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.alt</key>
	<string>W_.alt.glif</string>
	<key>Wacute</key>
	<string>W_acute.glif</string>
	<key>Wcircumflex</key>
	<string>W_circumflex.glif</string>
	<key>Wgrave</key>
	<string>W_grave.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.alt</key>
	<string>X_.alt.glif</string>
	<key>X.alt1</key>
	<string>X_.alt1.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.alt</key>
	<string>Y_.alt.glif</string>
	<key>Y.alt1</key>
	<string>Y_.alt1.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ycircumflex</key>
	<string>Y_circumflex.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt</key>
	<string>a.alt.glif</string>
	<key>a.patt</key>
	<string>a.patt.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.onum</key>
	<string>eight.onum.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.onum</key>
	<string>five.onum.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.onum</key>
	<string>four.onum.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.onum</key>
	<string>nine.onum.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.onum</key>
	<string>one.onum.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.alt</key>
	<string>r.alt.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.alt</key>
	<string>s.alt.glif</string>
	<key>s.patt</key>
	<string>s.patt.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.onum</key>
	<string>seven.onum.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.onum</key>
	<string>six.onum.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.alt</key>
	<string>three.alt.glif</string>
	<key>three.onum</key>
	<string>three.onum.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.onum</key>
	<string>two.onum.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uni1F33F</key>
	<string>uni1F_33F_.glif</string>
	<key>uni1F3B5</key>
	<string>uni1F_3B_5.glif</string>
	<key>uni1F3B6</key>
	<string>uni1F_3B_6.glif</string>
	<key>uni1F3E0</key>
	<string>uni1F_3E_0.glif</string>
	<key>uni1F435</key>
	<string>uni1F_435.glif</string>
	<key>uni1F468</key>
	<string>uni1F_468.glif</string>
	<key>uni1F480</key>
	<string>uni1F_480.glif</string>
	<key>uni1F4A1</key>
	<string>uni1F_4A_1.glif</string>
	<key>uni1F4AC</key>
	<string>uni1F_4A_C_.glif</string>
	<key>uni1F4F1</key>
	<string>uni1F_4F_1.glif</string>
	<key>uni1F532</key>
	<string>uni1F_532.glif</string>
	<key>uni1F533</key>
	<string>uni1F_533.glif</string>
	<key>uni1F56F</key>
	<string>uni1F_56F_.glif</string>
	<key>uni1F576</key>
	<string>uni1F_576.glif</string>
	<key>uni1F609</key>
	<string>uni1F_609.glif</string>
	<key>uni1F60A</key>
	<string>uni1F_60A_.glif</string>
	<key>uni1F60B</key>
	<string>uni1F_60B_.glif</string>
	<key>uni1F614</key>
	<string>uni1F_614.glif</string>
	<key>uni1F61A</key>
	<string>uni1F_61A_.glif</string>
	<key>uni1F621</key>
	<string>uni1F_621.glif</string>
	<key>uni1F62D</key>
	<string>uni1F_62D_.glif</string>
	<key>uni1F63A</key>
	<string>uni1F_63A_.glif</string>
	<key>uni1F916</key>
	<string>uni1F_916.glif</string>
	<key>uni2196</key>
	<string>uni2196.glif</string>
	<key>uni2197</key>
	<string>uni2197.glif</string>
	<key>uni2198</key>
	<string>uni2198.glif</string>
	<key>uni2199</key>
	<string>uni2199.glif</string>
	<key>uni23F1</key>
	<string>uni23F_1.glif</string>
	<key>uni25FC</key>
	<string>uni25F_C_.glif</string>
	<key>uni2615</key>
	<string>uni2615.glif</string>
	<key>uni2620</key>
	<string>uni2620.glif</string>
	<key>uni262D</key>
	<string>uni262D_.glif</string>
	<key>uni2709</key>
	<string>uni2709.glif</string>
	<key>uni2764</key>
	<string>uni2764.glif</string>
	<key>uni27A1</key>
	<string>uni27A_1.glif</string>
	<key>uni2B05</key>
	<string>uni2B_05.glif</string>
	<key>uni2B06</key>
	<string>uni2B_06.glif</string>
	<key>uni2B07</key>
	<string>uni2B_07.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.alt</key>
	<string>w.alt.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.alt</key>
	<string>x.alt.glif</string>
	<key>x.alt1</key>
	<string>x.alt1.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.alt</key>
	<string>y.alt.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.alt</key>
	<string>zero.alt.glif</string>
	<key>zero.onum</key>
	<string>zero.onum.glif</string>
</dict>
</plist>
