<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.ss01</key>
	<string>A_.ss01.glif</string>
	<key>A.ss02</key>
	<string>A_.ss02.glif</string>
	<key>A.ss03</key>
	<string>A_.ss03.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.alt</key>
	<string>B_.alt.glif</string>
	<key>B.alt.ss01</key>
	<string>B_.alt.ss01.glif</string>
	<key>B.alt.ss02</key>
	<string>B_.alt.ss02.glif</string>
	<key>B.alt.ss03</key>
	<string>B_.alt.ss03.glif</string>
	<key>B.ss01</key>
	<string>B_.ss01.glif</string>
	<key>B.ss02</key>
	<string>B_.ss02.glif</string>
	<key>B.ss03</key>
	<string>B_.ss03.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.ss01</key>
	<string>C_.ss01.glif</string>
	<key>C.ss02</key>
	<string>C_.ss02.glif</string>
	<key>C.ss03</key>
	<string>C_.ss03.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.ss01</key>
	<string>D_.ss01.glif</string>
	<key>D.ss02</key>
	<string>D_.ss02.glif</string>
	<key>D.ss03</key>
	<string>D_.ss03.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.ss01</key>
	<string>E_.ss01.glif</string>
	<key>E.ss02</key>
	<string>E_.ss02.glif</string>
	<key>E.ss03</key>
	<string>E_.ss03.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.ss01</key>
	<string>F_.ss01.glif</string>
	<key>F.ss02</key>
	<string>F_.ss02.glif</string>
	<key>F.ss03</key>
	<string>F_.ss03.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.ss01</key>
	<string>G_.ss01.glif</string>
	<key>G.ss02</key>
	<string>G_.ss02.glif</string>
	<key>G.ss03</key>
	<string>G_.ss03.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.ss01</key>
	<string>H_.ss01.glif</string>
	<key>H.ss02</key>
	<string>H_.ss02.glif</string>
	<key>H.ss03</key>
	<string>H_.ss03.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.ss01</key>
	<string>J_.ss01.glif</string>
	<key>J.ss02</key>
	<string>J_.ss02.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.alt</key>
	<string>K_.alt.glif</string>
	<key>K.alt.ss01</key>
	<string>K_.alt.ss01.glif</string>
	<key>K.alt.ss02</key>
	<string>K_.alt.ss02.glif</string>
	<key>K.ss01</key>
	<string>K_.ss01.glif</string>
	<key>K.ss02</key>
	<string>K_.ss02.glif</string>
	<key>K.ss03</key>
	<string>K_.ss03.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.ss01</key>
	<string>L_.ss01.glif</string>
	<key>L.ss02</key>
	<string>L_.ss02.glif</string>
	<key>L.ss03</key>
	<string>L_.ss03.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.alt</key>
	<string>M_.alt.glif</string>
	<key>M.alt.ss01</key>
	<string>M_.alt.ss01.glif</string>
	<key>M.alt.ss02</key>
	<string>M_.alt.ss02.glif</string>
	<key>M.alt.ss03</key>
	<string>M_.alt.ss03.glif</string>
	<key>M.ss01</key>
	<string>M_.ss01.glif</string>
	<key>M.ss02</key>
	<string>M_.ss02.glif</string>
	<key>M.ss03</key>
	<string>M_.ss03.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.ss01</key>
	<string>N_.ss01.glif</string>
	<key>N.ss02</key>
	<string>N_.ss02.glif</string>
	<key>N.ss03</key>
	<string>N_.ss03.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.ss01</key>
	<string>O_.ss01.glif</string>
	<key>O.ss02</key>
	<string>O_.ss02.glif</string>
	<key>O.ss03</key>
	<string>O_.ss03.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.ss01</key>
	<string>P_.ss01.glif</string>
	<key>P.ss02</key>
	<string>P_.ss02.glif</string>
	<key>P.ss03</key>
	<string>P_.ss03.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.alt</key>
	<string>Q_.alt.glif</string>
	<key>Q.alt.ss01</key>
	<string>Q_.alt.ss01.glif</string>
	<key>Q.alt.ss02</key>
	<string>Q_.alt.ss02.glif</string>
	<key>Q.alt1</key>
	<string>Q_.alt1.glif</string>
	<key>Q.alt1.ss01</key>
	<string>Q_.alt1.ss01.glif</string>
	<key>Q.alt1.ss02</key>
	<string>Q_.alt1.ss02.glif</string>
	<key>Q.alt1.ss03</key>
	<string>Q_.alt1.ss03.glif</string>
	<key>Q.ss01</key>
	<string>Q_.ss01.glif</string>
	<key>Q.ss02</key>
	<string>Q_.ss02.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.alt</key>
	<string>R_.alt.glif</string>
	<key>R.alt.ss01</key>
	<string>R_.alt.ss01.glif</string>
	<key>R.alt.ss02</key>
	<string>R_.alt.ss02.glif</string>
	<key>R.alt.ss03</key>
	<string>R_.alt.ss03.glif</string>
	<key>R.ss01</key>
	<string>R_.ss01.glif</string>
	<key>R.ss02</key>
	<string>R_.ss02.glif</string>
	<key>R.ss03</key>
	<string>R_.ss03.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.ss01</key>
	<string>S_.ss01.glif</string>
	<key>S.ss02</key>
	<string>S_.ss02.glif</string>
	<key>S.ss03</key>
	<string>S_.ss03.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.ss01</key>
	<string>T_.ss01.glif</string>
	<key>T.ss02</key>
	<string>T_.ss02.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U+262D</key>
	<string>U+262D_.glif</string>
	<key>U+262D.ss01</key>
	<string>U+262D_.ss01.glif</string>
	<key>U.ss01</key>
	<string>U_.ss01.glif</string>
	<key>U.ss02</key>
	<string>U_.ss02.glif</string>
	<key>U.ss03</key>
	<string>U_.ss03.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.ss01</key>
	<string>V_.ss01.glif</string>
	<key>V.ss02</key>
	<string>V_.ss02.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.alt</key>
	<string>W_.alt.glif</string>
	<key>W.alt.ss01</key>
	<string>W_.alt.ss01.glif</string>
	<key>W.alt.ss02</key>
	<string>W_.alt.ss02.glif</string>
	<key>W.alt.ss03</key>
	<string>W_.alt.ss03.glif</string>
	<key>W.ss01</key>
	<string>W_.ss01.glif</string>
	<key>W.ss02</key>
	<string>W_.ss02.glif</string>
	<key>W.ss03</key>
	<string>W_.ss03.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.alt</key>
	<string>X_.alt.glif</string>
	<key>X.alt.ss01</key>
	<string>X_.alt.ss01.glif</string>
	<key>X.alt.ss02</key>
	<string>X_.alt.ss02.glif</string>
	<key>X.alt1</key>
	<string>X_.alt1.glif</string>
	<key>X.alt1.ss01</key>
	<string>X_.alt1.ss01.glif</string>
	<key>X.alt1.ss03</key>
	<string>X_.alt1.ss03.glif</string>
	<key>X.ss01</key>
	<string>X_.ss01.glif</string>
	<key>X.ss02</key>
	<string>X_.ss02.glif</string>
	<key>X.ss03</key>
	<string>X_.ss03.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.ss01</key>
	<string>Y_.ss01.glif</string>
	<key>Y.ss02</key>
	<string>Y_.ss02.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.ss01</key>
	<string>Z_.ss01.glif</string>
	<key>Z.ss02</key>
	<string>Z_.ss02.glif</string>
	<key>Z.ss03</key>
	<string>Z_.ss03.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt</key>
	<string>a.alt.glif</string>
	<key>a.alt.ss01</key>
	<string>a.alt.ss01.glif</string>
	<key>a.patt</key>
	<string>a.patt.glif</string>
	<key>a.patt.ss01</key>
	<string>a.patt.ss01.glif</string>
	<key>a.patt.ss02</key>
	<string>a.patt.ss02.glif</string>
	<key>a.patt.ss03</key>
	<string>a.patt.ss03.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.ss01</key>
	<string>ampersand.ss01.glif</string>
	<key>ampersand.ss02</key>
	<string>ampersand.ss02.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>at.ss01</key>
	<string>at.ss01.glif</string>
	<key>at.ss02</key>
	<string>at.ss02.glif</string>
	<key>at.ss03</key>
	<string>at.ss03.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.ss01</key>
	<string>b.ss01.glif</string>
	<key>b.ss02</key>
	<string>b.ss02.glif</string>
	<key>b.ss03</key>
	<string>b.ss03.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.ss01</key>
	<string>d.ss01.glif</string>
	<key>d.ss02</key>
	<string>d.ss02.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dollar.ss01</key>
	<string>dollar.ss01.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.ss01</key>
	<string>e.ss01.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.onum</key>
	<string>eight.onum.glif</string>
	<key>eight.onum.ss01</key>
	<string>eight.onum.ss01.glif</string>
	<key>eight.onum.ss02</key>
	<string>eight.onum.ss02.glif</string>
	<key>eight.ss01</key>
	<string>eight.ss01.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.ss01</key>
	<string>f.ss01.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.onum</key>
	<string>five.onum.glif</string>
	<key>five.onum.ss01</key>
	<string>five.onum.ss01.glif</string>
	<key>five.ss01</key>
	<string>five.ss01.glif</string>
	<key>five.ss02</key>
	<string>five.ss02.glif</string>
	<key>five.ss03</key>
	<string>five.ss03.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.onum</key>
	<string>four.onum.glif</string>
	<key>four.onum.ss01</key>
	<string>four.onum.ss01.glif</string>
	<key>four.ss01</key>
	<string>four.ss01.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>g.ss02</key>
	<string>g.ss02.glif</string>
	<key>g.ss03</key>
	<string>g.ss03.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.ss01</key>
	<string>h.ss01.glif</string>
	<key>h.ss02</key>
	<string>h.ss02.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.ss01</key>
	<string>k.ss01.glif</string>
	<key>k.ss02</key>
	<string>k.ss02.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.ss01</key>
	<string>m.ss01.glif</string>
	<key>m.ss02</key>
	<string>m.ss02.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.ss01</key>
	<string>n.ss01.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.onum</key>
	<string>nine.onum.glif</string>
	<key>nine.onum.ss01</key>
	<string>nine.onum.ss01.glif</string>
	<key>nine.onum.ss02</key>
	<string>nine.onum.ss02.glif</string>
	<key>nine.ss01</key>
	<string>nine.ss01.glif</string>
	<key>nine.ss02</key>
	<string>nine.ss02.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>numbersign.ss01</key>
	<string>numbersign.ss01.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.ss01</key>
	<string>o.ss01.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.onum</key>
	<string>one.onum.glif</string>
	<key>one.ss01</key>
	<string>one.ss01.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.ss01</key>
	<string>p.ss01.glif</string>
	<key>p.ss02</key>
	<string>p.ss02.glif</string>
	<key>p.ss03</key>
	<string>p.ss03.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>parenright.ss01</key>
	<string>parenright.ss01.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>percent.ss01</key>
	<string>percent.ss01.glif</string>
	<key>percent.ss02</key>
	<string>percent.ss02.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.ss01</key>
	<string>q.ss01.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotebdl</key>
	<string>quotebdl.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.alt</key>
	<string>r.alt.glif</string>
	<key>r.alt.ss01</key>
	<string>r.alt.ss01.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.alt</key>
	<string>s.alt.glif</string>
	<key>s.alt.ss01</key>
	<string>s.alt.ss01.glif</string>
	<key>s.patt</key>
	<string>s.patt.glif</string>
	<key>s.patt.ss01</key>
	<string>s.patt.ss01.glif</string>
	<key>s.patt.ss02</key>
	<string>s.patt.ss02.glif</string>
	<key>s.patt.ss03</key>
	<string>s.patt.ss03.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.onum</key>
	<string>seven.onum.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.onum</key>
	<string>six.onum.glif</string>
	<key>six.onum.ss01</key>
	<string>six.onum.ss01.glif</string>
	<key>six.ss01</key>
	<string>six.ss01.glif</string>
	<key>six.ss02</key>
	<string>six.ss02.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.ss01</key>
	<string>t.ss01.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.alt</key>
	<string>three.alt.glif</string>
	<key>three.alt.ss01</key>
	<string>three.alt.ss01.glif</string>
	<key>three.alt.ss02</key>
	<string>three.alt.ss02.glif</string>
	<key>three.alt.ss03</key>
	<string>three.alt.ss03.glif</string>
	<key>three.onum</key>
	<string>three.onum.glif</string>
	<key>three.onum.ss01</key>
	<string>three.onum.ss01.glif</string>
	<key>three.ss01</key>
	<string>three.ss01.glif</string>
	<key>three.ss02</key>
	<string>three.ss02.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.onum</key>
	<string>two.onum.glif</string>
	<key>two.onum.ss01</key>
	<string>two.onum.ss01.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.ss01</key>
	<string>u.ss01.glif</string>
	<key>uni1F33F</key>
	<string>uni1F33F_.glif</string>
	<key>uni1F33F.ss01</key>
	<string>uni1F33F_.ss01.glif</string>
	<key>uni1F3B5	</key>
	<string>uni1F3B5	_.glif</string>
	<key>uni1F3B5	.ss01</key>
	<string>uni1F3B5	_.ss01.glif</string>
	<key>uni1F3B6</key>
	<string>uni1F3B6_.glif</string>
	<key>uni1F3B6.ss01</key>
	<string>uni1F3B6_.ss01.glif</string>
	<key>uni1F3B6.ss02</key>
	<string>uni1F3B6_.ss02.glif</string>
	<key>uni1F3B6.ss03</key>
	<string>uni1F3B6_.ss03.glif</string>
	<key>uni1F3E0</key>
	<string>uni1F3E0_.glif</string>
	<key>uni1F3E0.ss01</key>
	<string>uni1F3E0_.ss01.glif</string>
	<key>uni1F3E0.ss02</key>
	<string>uni1F3E0_.ss02.glif</string>
	<key>uni1F435</key>
	<string>uni1F435_.glif</string>
	<key>uni1F435.ss01</key>
	<string>uni1F435_.ss01.glif</string>
	<key>uni1F435.ss02</key>
	<string>uni1F435_.ss02.glif</string>
	<key>uni1F435.ss03</key>
	<string>uni1F435_.ss03.glif</string>
	<key>uni1F468</key>
	<string>uni1F468_.glif</string>
	<key>uni1F468.ss01</key>
	<string>uni1F468_.ss01.glif</string>
	<key>uni1F468.ss02</key>
	<string>uni1F468_.ss02.glif</string>
	<key>uni1F468.ss03</key>
	<string>uni1F468_.ss03.glif</string>
	<key>uni1F480</key>
	<string>uni1F480_.glif</string>
	<key>uni1F480.ss01</key>
	<string>uni1F480_.ss01.glif</string>
	<key>uni1F480.ss02</key>
	<string>uni1F480_.ss02.glif</string>
	<key>uni1F480.ss03</key>
	<string>uni1F480_.ss03.glif</string>
	<key>uni1F4A1	</key>
	<string>uni1F4A1	_.glif</string>
	<key>uni1F4A1	.ss01</key>
	<string>uni1F4A1	_.ss01.glif</string>
	<key>uni1F4A1	.ss02</key>
	<string>uni1F4A1	_.ss02.glif</string>
	<key>uni1F4A1	.ss03</key>
	<string>uni1F4A1	_.ss03.glif</string>
	<key>uni1F4AC</key>
	<string>uni1F4AC_.glif</string>
	<key>uni1F4AC.ss01</key>
	<string>uni1F4AC_.ss01.glif</string>
	<key>uni1F4AC.ss02</key>
	<string>uni1F4AC_.ss02.glif</string>
	<key>uni1F4F1</key>
	<string>uni1F4F1_.glif</string>
	<key>uni1F4F1.ss01</key>
	<string>uni1F4F1_.ss01.glif</string>
	<key>uni1F4F1.ss02</key>
	<string>uni1F4F1_.ss02.glif</string>
	<key>uni1F4F1.ss03</key>
	<string>uni1F4F1_.ss03.glif</string>
	<key>uni1F532</key>
	<string>uni1F532_.glif</string>
	<key>uni1F532.ss01</key>
	<string>uni1F532_.ss01.glif</string>
	<key>uni1F532.ss02</key>
	<string>uni1F532_.ss02.glif</string>
	<key>uni1F532.ss03</key>
	<string>uni1F532_.ss03.glif</string>
	<key>uni1F533</key>
	<string>uni1F533_.glif</string>
	<key>uni1F56F</key>
	<string>uni1F56F_.glif</string>
	<key>uni1F56F.ss01</key>
	<string>uni1F56F_.ss01.glif</string>
	<key>uni1F56F.ss02</key>
	<string>uni1F56F_.ss02.glif</string>
	<key>uni1F576</key>
	<string>uni1F576_.glif</string>
	<key>uni1F576.ss01</key>
	<string>uni1F576_.ss01.glif</string>
	<key>uni1F576.ss02</key>
	<string>uni1F576_.ss02.glif</string>
	<key>uni1F576.ss03</key>
	<string>uni1F576_.ss03.glif</string>
	<key>uni1F609	</key>
	<string>uni1F609	_.glif</string>
	<key>uni1F60A	</key>
	<string>uni1F60A	_.glif</string>
	<key>uni1F60B	</key>
	<string>uni1F60B	_.glif</string>
	<key>uni1F614	</key>
	<string>uni1F614	_.glif</string>
	<key>uni1F61A	</key>
	<string>uni1F61A	_.glif</string>
	<key>uni1F621</key>
	<string>uni1F621_.glif</string>
	<key>uni1F62D</key>
	<string>uni1F62D_.glif</string>
	<key>uni1F63A</key>
	<string>uni1F63A_.glif</string>
	<key>uni1F916	</key>
	<string>uni1F916	_.glif</string>
	<key>uni1F916	.ss01</key>
	<string>uni1F916	_.ss01.glif</string>
	<key>uni1F916	.ss02</key>
	<string>uni1F916	_.ss02.glif</string>
	<key>uni2196</key>
	<string>uni2196.glif</string>
	<key>uni2197</key>
	<string>uni2197.glif</string>
	<key>uni2198</key>
	<string>uni2198.glif</string>
	<key>uni2199</key>
	<string>uni2199.glif</string>
	<key>uni25FC</key>
	<string>uni25FC_.glif</string>
	<key>uni25FC.ss01</key>
	<string>uni25FC_.ss01.glif</string>
	<key>uni25FC.ss02</key>
	<string>uni25FC_.ss02.glif</string>
	<key>uni2615</key>
	<string>uni2615.glif</string>
	<key>uni2615.ss01</key>
	<string>uni2615.ss01.glif</string>
	<key>uni2615.ss02</key>
	<string>uni2615.ss02.glif</string>
	<key>uni2620</key>
	<string>uni2620.glif</string>
	<key>uni2620.ss01</key>
	<string>uni2620.ss01.glif</string>
	<key>uni2620.ss02</key>
	<string>uni2620.ss02.glif</string>
	<key>uni2620.ss03</key>
	<string>uni2620.ss03.glif</string>
	<key>uni2709	</key>
	<string>uni2709	.glif</string>
	<key>uni2709	.ss01</key>
	<string>uni2709	.ss01.glif</string>
	<key>uni2709	.ss02</key>
	<string>uni2709	.ss02.glif</string>
	<key>uni2764</key>
	<string>uni2764.glif</string>
	<key>uni2764.ss01</key>
	<string>uni2764.ss01.glif</string>
	<key>uni2764.ss02</key>
	<string>uni2764.ss02.glif</string>
	<key>uni2764.ss03</key>
	<string>uni2764.ss03.glif</string>
	<key>uni27A1</key>
	<string>uni27A1_.glif</string>
	<key>uni27A1.ss01</key>
	<string>uni27A1_.ss01.glif</string>
	<key>uni2B05</key>
	<string>uni2B05_.glif</string>
	<key>uni2B05.ss01</key>
	<string>uni2B05_.ss01.glif</string>
	<key>uni2B06		</key>
	<string>uni2B06		_.glif</string>
	<key>uni2B07	</key>
	<string>uni2B07	_.glif</string>
	<key>uniF552	</key>
	<string>uniF552	_.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.alt</key>
	<string>w.alt.glif</string>
	<key>w.alt.ss01</key>
	<string>w.alt.ss01.glif</string>
	<key>w.alt.ss02</key>
	<string>w.alt.ss02.glif</string>
	<key>w.alt.ss03</key>
	<string>w.alt.ss03.glif</string>
	<key>w.ss01</key>
	<string>w.ss01.glif</string>
	<key>w.ss02</key>
	<string>w.ss02.glif</string>
	<key>w.ss03</key>
	<string>w.ss03.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.alt</key>
	<string>x.alt.glif</string>
	<key>x.alt.ss01</key>
	<string>x.alt.ss01.glif</string>
	<key>x.alt.ss02</key>
	<string>x.alt.ss02.glif</string>
	<key>x.alt1</key>
	<string>x.alt1.glif</string>
	<key>x.alt1.ss01</key>
	<string>x.alt1.ss01.glif</string>
	<key>x.alt1.ss02</key>
	<string>x.alt1.ss02.glif</string>
	<key>x.ss01</key>
	<string>x.ss01.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.alt</key>
	<string>y.alt.glif</string>
	<key>y.alt.ss01</key>
	<string>y.alt.ss01.glif</string>
	<key>y.alt.ss02</key>
	<string>y.alt.ss02.glif</string>
	<key>y.alt.ss03</key>
	<string>y.alt.ss03.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yen.ss01</key>
	<string>yen.ss01.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.ss01</key>
	<string>z.ss01.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.alt</key>
	<string>zero.alt.glif</string>
	<key>zero.alt.ss01</key>
	<string>zero.alt.ss01.glif</string>
	<key>zero.alt.ss02</key>
	<string>zero.alt.ss02.glif</string>
	<key>zero.onum</key>
	<string>zero.onum.glif</string>
	<key>zero.onum.ss01</key>
	<string>zero.onum.ss01.glif</string>
	<key>zero.ss01</key>
	<string>zero.ss01.glif</string>
	<key>zero.ss02</key>
	<string>zero.ss02.glif</string>
</dict>
</plist>
