<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@A_LC_LEFT</key>
	<dict>
		<key>@UV_LC_RIGHT</key>
		<integer>-111</integer>
	</dict>
	<key>@A_UC_LEFT</key>
	<dict>
		<key>@V_UC_RIGHT</key>
		<integer>-111</integer>
		<key>T</key>
		<integer>-111</integer>
	</dict>
	<key>@L_UC_LEFT</key>
	<dict>
		<key>@A_UC_RIGHT</key>
		<integer>-111</integer>
		<key>@UV_LC_RIGHT</key>
		<integer>-111</integer>
		<key>T</key>
		<integer>-111</integer>
	</dict>
	<key>@N_LC_LEFT</key>
	<dict>
		<key>@UV_LC_RIGHT</key>
		<integer>-111</integer>
	</dict>
	<key>@T_UC_LEFT</key>
	<dict>
		<key>@A_UC_RIGHT</key>
		<integer>-111</integer>
	</dict>
	<key>@V_UC_LEFT</key>
	<dict>
		<key>@A_UC_RIGHT</key>
		<integer>-111</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-111</integer>
		<key>V</key>
		<integer>-111</integer>
		<key>Y</key>
		<integer>-111</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>A</key>
		<integer>-111</integer>
		<key>T</key>
		<integer>-111</integer>
		<key>U</key>
		<integer>-111</integer>
		<key>V</key>
		<integer>-111</integer>
		<key>W</key>
		<integer>-111</integer>
		<key>Y</key>
		<integer>-111</integer>
		<key>u</key>
		<integer>-111</integer>
		<key>v</key>
		<integer>-111</integer>
		<key>y</key>
		<integer>-111</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-111</integer>
		<key>T</key>
		<integer>-111</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-111</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-111</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>b</key>
		<integer>-111</integer>
		<key>l</key>
		<integer>-111</integer>
		<key>t</key>
		<integer>-111</integer>
		<key>u</key>
		<integer>-111</integer>
		<key>v</key>
		<integer>-111</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>v</key>
		<integer>-111</integer>
	</dict>
</dict>
</plist>
