<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cultura0</key>
	<string>cultura0.glif</string>
	<key>cultura1</key>
	<string>cultura1.glif</string>
	<key>cultura2</key>
	<string>cultura2.glif</string>
	<key>esplosivo0</key>
	<string>esplosivo0.glif</string>
	<key>esplosivo1</key>
	<string>esplosivo1.glif</string>
	<key>esplosivo2</key>
	<string>esplosivo2.glif</string>
	<key>indipendenze0</key>
	<string>indipendenze0.glif</string>
	<key>indipendenze1</key>
	<string>indipendenze1.glif</string>
	<key>indipendenze2</key>
	<string>indipendenze2.glif</string>
	<key>processi0</key>
	<string>processi0.glif</string>
	<key>processi1</key>
	<string>processi1.glif</string>
	<key>processi2</key>
	<string>processi2.glif</string>
	<key>produzione0</key>
	<string>produzione0.glif</string>
	<key>produzione1</key>
	<string>produzione1.glif</string>
	<key>produzione2</key>
	<string>produzione2.glif</string>
	<key>relazioni0</key>
	<string>relazioni0.glif</string>
	<key>relazioni1</key>
	<string>relazioni1.glif</string>
	<key>relazioni2</key>
	<string>relazioni2.glif</string>
	<key>ricerca0</key>
	<string>ricerca0.glif</string>
	<key>ricerca1</key>
	<string>ricerca1.glif</string>
	<key>ricerca2</key>
	<string>ricerca2.glif</string>
	<key>spazio0</key>
	<string>spazio0.glif</string>
	<key>spazio1</key>
	<string>spazio1.glif</string>
	<key>spazio2</key>
	<string>spazio2.glif</string>
	<key>utile0</key>
	<string>utile0.glif</string>
	<key>utile1</key>
	<string>utile1.glif</string>
	<key>utile2</key>
	<string>utile2.glif</string>
</dict>
</plist>
